<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://i.imgur.com/qWlF2FJ.jpg" class="center" width="350" height="400">
        <div class="container">
          <h2>Mounika Dasa</h2>
          <p class="title">22128405</p>
          <p>Dept. of Cognitive Science</p>
          <p>mounikad22@iitk.ac.in</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://i.imgur.com/KHPKVD3.png" class="center" width="350" height="400">
        <div class="container">
          <h2>Namgyal Lhamo Dolma</h2>
          <p class="title">190528</p>
          <p>Dept. of Economics</p>
          <p>namgyal@iitk.ac.in</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://i.imgur.com/zEmgW6w.png" class="center" width="350" height="400" >
        <div class="container">
          <h2>Sonal Agrawal</h2>
          <p class="title">200995</p>
          <p>Dept. of Electrical Engineering</p>
          <p>sagarwal20@iitk.ac.in</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>